<div class="order-container">
  <div class="card">
    <p-table
      [value]="orders"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rowsPerPageOptions]="[5, 10, 15]"
      [rows]="5"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre del cliente</th>
          <th>Producto</th>
          <th>Fecha de compra</th>
          <th>Estado</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.client_name }}</td>
          <td>{{ product.product_name }}</td>
          <td>{{ product.created_date }}</td>
          <td>
            <button
              type="button"
              class="btn {{
                product.status === 'Entregado'
                  ? 'btn btn-success'
                  : 'btn-primary'
              }}"
              pTooltip="{{
                product.status === 'Pendiente' && 'Marcar como entregado'
              }}"
              [disabled]="product.status === 'Entregado'"
            >
              {{ product.status }}
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
