<div class="header">
  <span class="title">Pasos de Moda</span>

  <div class="flex flex-row align-items-center" *ngIf="isLogged">
    <div class="circle user">
      <i class="pi pi-user"></i>
    </div>

    <span>{{ userName }}</span>

    <div class="circle opt config">
      <i class="pi pi-cog"></i>
    </div>

    <div class="circle opt logout">
      <i class="pi pi-power-off"></i>
    </div>
  </div>

  <div class="flex flex-row algin-items-center justify-content-between" *ngIf="!isLogged">
    <p-button
      label="Iniciar sesión"
      (onClick)="showModalLogin()"
      class="w-full"
    ></p-button>
    <p-button
      label="Registrarse"
      (onClick)="showModalRegister()"
      class="pl-2"
    ></p-button>
  </div>
</div>
